.sliding-carousel{
    position: relative;
    display: flex;
    overflow: hidden;
    width: inherit;
    height: inherit;
    /* border: 1px solid red; */
}
.prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3rem;
    z-index: 10;
}

.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 3rem;
    z-index: 10;
}

.prev button {
    border-radius: 0.3rem;
    background-color: rgb(96, 96, 96);
    box-shadow: 2px 2px rgb(154, 154, 154), 2px 2px white inset;
    padding: 0 0.5rem;
    color: white;
    font-size: 3rem;
    border: none;
    cursor: pointer;
}

.prev button:disabled,
.next button:disabled {
    cursor: default;
    color: rgba(255, 255, 255, 0);
    background-color: transparent;
    box-shadow: none;
}

.next button {
    border-radius: 0.3rem;
    background-color: rgb(96, 96, 96);
    box-shadow: 2px 2px rgb(154, 154, 154), 2px 2px white inset;
    padding: 0 0.5rem;
    font-size: 3rem;
    border: none;
    color: white;
    cursor: pointer;
}

.carousel-container {
    position: relative;
    display: flex;
    flex: 0 0 content;
    width: inherit;
    height: 100%;
    /* border: 5px dashed blue; */
}
